# Python
venv/
.venv/
.venv1/
__pycache__/
*.pyc
*.pyo
db.sqlite3

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production